body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.image-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
